.button_container{
    display: flex;
    justify-content: center;
}
.form_header{
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: serif;
}
.input{
    background: transparent;
    backdrop-filter: blur(8px);
}
.inputplace{
    width: 255px;
    background: transparent;
    padding: 10px 80px 10px 10px;
    border-radius: 30px;
    border: 1px white solid;

}
.forward-text{
    padding-top: 20px;
    margin-left: 10px;
}
::placeholder{
    color: #fff;
    font-size: 20px;
}
.button,.gg-button{
    border-radius: 20px;
    padding: 10px;
    margin: 0 10px;
    border: 1px white solid;
}
.button{
    padding: 0 35px;
    background-color: #1777FF;
    color: #fff;
}
.button:hover{
    background-color: #3c89f6;
}
.gg-button:hover{
    background-color: #e3e1e1;
}


