h2 {
    display: flex;
    justify-content: center;
}

.form-deposit {}

.more-info {
    margin-top: 50px;
}

.form-deposit {
    box-shadow: 2px 1px 7px 4px #ccc;
    height: 100%;
    padding: 20px;
}