h2 {
    display: flex;
    justify-content: center;
}

.date-form {
    margin-left: 50px;
}

.date-form-2 {
    margin-left: 5px;
}

.care-form {
    margin-left: 15px;
}

.info-btn {
    margin-left: 240px;
    width: 80px;
}

.more-info-form {
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

.address-form {
    margin-left: 55px;
}

.form-off {
    box-shadow: 2px 1px 7px 4px #ccc;
    height: 100%;
    padding: 20px;
}