.button_container{
    display: flex;
    justify-content: center;
}
.registerForm{
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: serif;
}
.register-button{
    border-radius: 20px;
    padding: 10px 20px;
}
