
.failed-section {
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

.failed-section h2, .failed-section p {
    text-align: center;
}

.failed-text {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 500px;
    width: 500px;
    justify-items: center;
}

.failed-img{
    width: 100px;
    margin-top: 80px;
}

.failed-text p {
    text-align: center;
}

.sub-text {
    opacity: 0.6;
}

.failed-text button {
    margin-top: 20px;
    height: 50px;
    width: 450px;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    border: none;
}

.failed-text button:hover {
    background-color: #aaa;
    color: #000;
}