.KoiDetail {
    margin: 50px 0;
    /* box-shadow:2px 1px 7px 4px #ccc;
    padding: 50px; */
}

.koi-detail {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
}

h3{
    margin: 0;
}
.koi-detail_name {}

.certificate {
    width: 500px;
    height: 300px;
}

.koi-detail_gender {}




.koi-detail_price {
    color: green;
}
.koi-detail_button {
    margin-top: 30px;
    padding: 30px;
    color: #fff;
    border: none;
    background: linear-gradient(-45deg, #ee7752, #e65dcf, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    border-radius: 30px;
    animation: gradient 5s ease infinite;
    font-size: 20px;
}
.koi-detail_button:disabled {
    color: #aaa;
    background: #ddd !important;
}

.koi-detail_button:disabled:hover {
    cursor: not-allowed;
}

.post-btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    
}

.post-btn:hover {
    background-color: #aaa;
    color: #000;
}