.koi{
    border: 1px #ccc solid;
    margin: 10px 0;
    background-color: #fff;
    padding: 8px 5px;
}
.koi-1{
width: 100%;
display: flex;
border-bottom: 1px #ccc solid;
padding-bottom: 20px;
}
.price{
    margin-left: 700px;
    font-weight: 700;
}
