@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Qwitcher+Grypen:wght@400;700&display=swap');
*{
    font-family: "IBM Plex Mono", monospace;

}

/* body{
    background: linear-gradient(-45deg, #ee7752, #ffffff, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 5s ease infinite;
} */
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
.voucher_text{
    opacity: 0;
}
.headerbar{
    z-index: 100;
    width: 90%;
    height: 120px;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    backdrop-filter: blur(30px);
    border-bottom: 2px #ccc solid;
    display: flex;
    align-items: center;

}
.feedback{
    padding: 20px 20px;
    display: flex;
    
}
.voucher_list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between vouchers */
}

.voucher {
    border: 1px solid #ccc; /* Border around each voucher */
    border-radius: 5px; /* Rounded corners */
    padding: 15px; /* Padding inside each voucher */
    background-color: #f9f9f9; /* Light background color */
    transition: box-shadow 0.3s; /* Smooth shadow transition */
    width: calc(100% / 3 - 10px);
    background-color: #fff;
    background-image: url('https://media.istockphoto.com/id/931377138/vector/top-view-japanese-asian-koi-carp-goldfish.jpg?s=612x612&w=0&k=20&c=jmsyGS6HhqsL7JvndXwp0VfW2PIGB9YIdE9gY6cwuA0=');
    background-repeat: no-repeat;
    background-size:  contain;
    /* background-color: #4dac3e; */
}
.voucher:hover{
    box-shadow: 3px 5px 4px #ccc;
}
.voucher_discount {
    font-size: 1.5em; /* Larger font for discount */
    color: #fff; /* Red color for discount */
    /* margin-left: 250px; */
    padding: 0 5px;
    /* background-color: #d9534f; */
    background-color: #000;
    border-radius: 7px;
    margin-top: -5px;
    margin-bottom: 70px;
}

.voucher_code {
    margin-top: -15px;
    font-weight: bold; /* Bold font for voucher code */
    font-size: 1.6em; /* Slightly larger font size */
}

.voucher_quanti {
    color: #000; 
    background-color: #ccc;
    border-radius: 6px;
    padding: 0 5px;
}

.voucher_date {
    color: #000;
    font-size: 0.9em; /* Smaller font size for date */
}
.user-img{
    padding-right: 30px;
}

.logo-container {
    margin-left: 60px;
    width: 100%;
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: space-between;
    align-items: center; /* Center items vertically */
}

.logo {
    /* margin-top: 10px; */
    width:100px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
  }
.container{
    width: 100%;
    /* background-color: rgb(240, 216, 119); */
}
.footer{
    height: 340px;
    /* background-color: #7A191F; */
    /* background-color: #B78E75; */
    /* background-color: #E35C40; */

}
.header{
    height: 120px;
    display: flex;
    justify-content: center;
}
.header_title{
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    /* color: black; */
    width: 200px;
}
.header_nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.subnav{
    display: flex;
    /* width: 50%; */
    justify-content: space-around;
    
}
.authen{
    font-size: 18px;
}
.authenticate{
    margin-right: 30px;
    display: flex;
    width: 30%;
   justify-content: space-around;
   margin-top: -12px;
}
.slick-list{
    border-radius: 10px;
}
.authen{
    text-decoration: none;
    color: #000;
    /* color: black; */
    position: relative;
}
.authen:hover{
    cursor: pointer;
}

.user_action{
    background-color: #edebeb;
    width: 200px;
    list-style: none;
    border-radius: 3px;
    /* z-index: 1; */
    display: none;
    position: absolute;
    padding: 0;
    margin-top: 10px;
    animation: userProfileShow 0.3s ease;
    box-shadow:1px 1px 1px 1px #ccc;

}
/* @keyframes userProfileShow {
    from{
        filter: blur();
        opacity: 0;
        transform: translateX(10px);
        background-color: #fff;
    box-shadow:none;

    }
    to{
        filter: none;
        opacity: 1;
        transform: translateX(0px);
    background-color: #edebeb;
    box-shadow:1px 1px 1px 1px #ccc;

    }
} */
.authen:hover .user_action{
    display: block;
}
.user_action::before{
    content: "";
    border-width: 15px 18px;
    border-style: solid;
    border-color: transparent transparent #ddd transparent;
    position: absolute;
    left:100px;
    top: -29px;
    cursor: pointer;
}
.user_action::after{
    content:"";
    border-style: solid;
    border-width: 15px 100px;
    position: absolute;
    top:-20px;
    border-color: transparent;
}
.user_action li{
    padding: 10px;
}
/* .point{
    
} */
.user_action li:hover{
    background-color: #e2e0e0;
}


.nav_elements{
    padding:48px 20px;
    list-style-type: none;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.nav_li {
    padding: 40px 20px; 
    list-style-type: none;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; 
    font-size: 20px;
    /* background-color: #fff; */
}

.nav_li:hover {
    /* background-color: #ccc; */
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 10px;
    animation: hoverAnimation ease 0.5s;
}
/* @keyframes hoverAnimation {
    from{
        background-color: rgba(0, 0, 0, 0);
    }to{
        background-color: rgba(0, 0, 0, 0.2);
    }
} */
.cart{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    /* color: black; */
}
.cart p{
    margin-bottom: 0rem
}
.cart_icon:hover{
    cursor: pointer;
}
.logout_btn{
    text-decoration: none;
}
.logout{
    color: rgb(216, 64, 64);
    font-weight: 500;
}
.nav_li_koi{
    position: relative;
}
.nav_li_koi:hover .nav_li_koi_elements{
    display: block;
}
.nav_li_koi_elements{
    margin-top: 15px;
    margin-left: -20px;
    position: absolute;
    display: none;
    list-style: none;
    padding: 0;
    top: 100px;
    border-radius: 5px;
    overflow: hidden;
    background:rgba(237, 235, 235, 0.85) ;

}

@keyframes show_koi-list {
    from{
        opacity: 0;
        transform: rotateX(-20px);
    }to{
        opacity: 1;
        transform: rotateX(0px);
    }
}
.nav_li_koi_elements li:hover{
    background-color: #aaa;
    cursor: pointer;
}
.koi_list_link li{
    width: 200px;
    padding: 10px 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    color: #545252;

}

.arrow-down-icon {
    font-size: 10px;
    line-height: 0;
}

.koi_list_link{
    width: 100%;
    text-decoration: none;
}
.koi_list_link li{
    animation: show_koi-list 0.3s ease-in;
}
.text-center-slider{
    height: 40%;
}
.homepage-section{
    margin-top: 50px;
    border-radius: 15px;
}
.homepage-design {
    height: 400px;
    width: 100%;
    position: relative;
    box-shadow:1px 1px 1px 1px #9d9c9c;
}

.homepage-design .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.slider-text {
    height: 850px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.text-center-slider {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    margin-bottom: 200px;
}

.slider-text h1 {
    color: white;
    line-height: 1.2;
    font-size: 60px;
    font-weight: 800;
}

.mb-4 {
    margin-bottom: 10px;
}

.slider-text p {
    font-size: 18px;
    line-height: 1.5;
    color: white;
}

.slider-text p a {
    
}

.slider-text .btn-koi-list {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 14px 26px;
}

.koi-section {
    padding: 0;
    position: relative;
    z-index: 0;
    padding: 4em 0;
    width: 100%;
    border-bottom: #ccc solid 1px;
}

.koi-content-center {
    padding-top: 1.5em;
    justify-content: center;
}

.koi-content-center .text-center {
    text-align: center;
}
.sub-heading div{
    font-size: 30px;
letter-spacing: 3px;
word-spacing: -3px;
}

.sub-heading{
    margin-top: 30px;
    padding: 20px;
    border-bottom: 1px #ccc solid;
    border-radius: 30px;
    border: 1px #ccc solid;
    display: flex;
    font-size: 16px;
    display: block;
    margin-bottom: 80px;
    color: #fff;
    background-color: #000;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(-45deg, #ec78e8, #d88282, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}
#koiList{
    margin-top: 80px;
    margin-bottom: -25px;
}
.exploreBtn,.copy_btn{
    background: linear-gradient(-45deg, #ec78e8, #d88282, #23a6d5, #23d5ab);
	background-size: 400% 400%;
}
.exploreBtn:hover,.copy_btn:hover{
    animation: gradient 2s ease infinite;
}
.copy_btn{
    padding: 7px 15px !important;
}
.exploreBtn{
    padding: 0;
}
@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.koi-center-heading {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

.koi-center-heading h2 {
    font-size: 46px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 50px;
    color: black;
}

.koi-content {
    margin-bottom: 20px;
}
.koi-types{
    margin-top: 30px;
}
.koi_fetch_breed{
    width: 80%;
}
.koi-section .koi-types {
    width: 33.33333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.koi-section .koi-item {
    border: 1px solid #000;
    text-align: center;
    position: relative;
    padding-bottom: 30px;
    border-radius: 15px;
}

.koi-section .koi-item img {
    width: 100%;
    height: 400px;
    left: 50%;
    text-align: center;
    border-bottom: 1px solid #000;
    border-radius: 15px;

    
}

.koi-section .koi-item h3 {
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 20px;
}

.koi-section .exploreBtn,.copy_btn {
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: #000;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 10px 50px;
}

.footer{
    padding-top: 40px;
    background-color: #fff;
    border: 1px #ccc solid;
}

.container-xl {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.justify-content-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.heading-footer {
}

.slogan  {
    display: flex;
    justify-content: center;
    color: #000;
    margin-left: 90px;
    font-weight: 600;
}

.footer-social {
    margin-left: 30px;
}

.footer-social .social-icon {
    color: #000;
    margin-left: 60px;
}

.heading-2 {
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 600;
}
.buy-koi {
    margin-left: -100px;
}

.list-unstyled {
    padding-left: 25px;
    list-style-type: none;
}


.list-unstyled a {
    color: #000;

}

.footer-social li {
    list-style: none;
    margin-left: 5px;
    display: inline-block;
    font-size: 40px;
}

.footer-widget ul li {
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;

}

.arrow-icon {
    font-size: 14px;
    color: #000;
    margin-right: 5px;
}

.contact-section li {
    display: table;
    line-height: 1.5;
    padding-left: 20px;
    
    
}

.contact-section .contact-icon {
    color: #000;
}

.contact-section .text-contact {
    color: #000;

    margin-left: 24px;
    font-size: 15px;
}

.col-lg-2 {
    margin-left: 106px;
}

.col-lg {
    /* margin-left: 150px; */
}

.logo-footer {
    margin-left: 180px;
    width: 150px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
}

.footer-widget {
    margin-right: 40px;
}

.contact-2{
    margin-left: 100px;
}