.headerbar{
    width: 100%;
    height: 120px;
    position: fixed;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url('https://www.themebeta.com/media/cache/400x225/files/chrome/images/201605/19/5d7870ee290d8dfc1c8586a26ebc106b.jpeg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #B78E75;
}

.logo-container {
    width: 100%;
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: space-between;
    align-items: center; /* Center items vertically */
}

.logo {
    margin-top: -20px;
    width: 150px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
  }
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 216, 119);
}
.footer{
    height: 200px;
    background-color: #B78E75;
}
.header_title{
    font-weight: 700;
    color: #fff;
    font-family: serif;
    width: 200px;
}
.header_nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.subnav{
    display: flex;
    /* width: 50%; */
    justify-content: space-around;
    
}
.authenticate{
    margin-right: 30px;
    display: flex;
    width: 250px;
   justify-content: space-around;
}
.authen{
    text-decoration: none;
    color: #fff;
}
.nav_li,.nav_li a{
    padding:48px 20px;
    list-style-type: none;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.nav_li:hover{
    background-color: #c3b9b9;
    cursor: pointer;
}
.cart_icon:hover{
    cursor: pointer;
}


