@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Qwitcher+Grypen:wght@400;700&display=swap');
*{
    font-family: "IBM Plex Mono", monospace;
}
.headerbar{
    z-index: 1;
    width: 90%;
    height: 120px;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    border-bottom: 4px #ccc double;
    
}
.feedback{
    /* border: 1px #ccc solid; */
    /* margin: 10px 0; */
    padding: 20px 20px;
    display: flex;
    
}
.user-img{
    padding-right: 30px;
}
.logo-container {
    width: 100%;
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: space-between;
    align-items: center; /* Center items vertically */
}

.logo {
    margin-top: -20px;
    width: 150px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
  }
.container{
    width: 100%;
    /* background-color: rgb(240, 216, 119); */
}
.footer{
    height: 340px;
    /* background-color: #7A191F; */
    /* background-color: #B78E75; */
    /* background-color: #E35C40; */

}
.header{
    height: 120px;
    display: flex;
    justify-content: center;
}
.header_title{
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    /* color: black; */
    width: 200px;
}
.header_nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.subnav{
    display: flex;
    /* width: 50%; */
    justify-content: space-around;
    
}
.authenticate{
    margin-right: 30px;
    display: flex;
    width: 30%;
   justify-content: space-around;
}
.authen{
    text-decoration: none;
    color: #000;
    /* color: black; */
    position: relative;
}
.authen:hover{
    cursor: pointer;
}
.user_action{
    background-color: #ddd;
    width: 200px;
    list-style: none;
}
.user_action{
    border-radius: 3px;
    /* z-index: 1; */
    display: none;
    position: absolute;
    padding: 0;
    margin-top: 10px;
    box-shadow:1px 1px 1px 1px #ccc;

}
.user_action::before{
    content: "";
    border-width: 15px 18px;
    border-style: solid;
    border-color: transparent transparent #ddd transparent;
    position: absolute;
    left:100px;
    top: -29px;
    cursor: pointer;
}
.user_action::after{
    content:"";
    border-style: solid;
    border-width: 15px 100px;
    position: absolute;
    top:-20px;
    border-color: transparent;
}
.user_action li{
    padding: 10px;
}
/* .point{
    
} */
.user_action li:hover{
    background-color: #eee;
}
.authen:hover .user_action{
    display: block;
}

.nav_li,.nav_elements{
    padding:48px 20px;
    list-style-type: none;
    font-weight: 700;
    color: #000;
    /* color: black; */
    text-decoration: none;
    text-transform: uppercase;
}

.nav_li:hover{
    background-color: #ccc;
    cursor: pointer;
}
.cart{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    /* color: black; */
}
.cart p{
    margin-bottom: 0rem
}
.cart_icon:hover{
    cursor: pointer;
}
.logout_btn{
    text-decoration: none;
}
.logout{
    color: rgb(216, 64, 64);
    font-weight: 500;
}
.nav_li_koi{
    position: relative;
}
.nav_li_koi:hover .nav_li_koi_elements{
    display: block;
}
.nav_li_koi_elements{
    margin-top: 48px;
    margin-left: -20px;
    position: absolute;
    display: none;
    list-style: none;
    padding: 0;
    background:rgba(237, 235, 235, 0.85) ;
}
.nav_li_koi_elements li:hover{
    background-color: #aaa;
    cursor: pointer;
}
.koi_list_link li{
    width: 200px;
    padding: 10px 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    color: #545252;

}
.koi_list_link{
    width: 100%;
    text-decoration: none;
}
.text-center-slider{
    height: 40%;
}
.homepage-section{
    margin-top: 50px;
    
}
.homepage-design {
    height: 600px;
    background: url("/assets/images/homepage-img-2.png") top center / cover no-repeat ;
    width: 100%;
    position: relative;
    border-radius: 30px;
    box-shadow:2px 1px 7px 4px #9d9c9c;

}

.homepage-design .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
}

.slider-text {
    height: 850px;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
}

.text-center-slider {
    padding-right: 0;
    padding-left: 0;
    /* opacity: 0;
    visibility: hidden; */
    text-align: center;
}

.slider-text h1 {
    color: white;
    line-height: 1.2;
    font-size: 60px;
    font-weight: 800;
}

.mb-4 {
    margin-bottom: 10px;
}

.slider-text p {
    font-size: 18px;
    line-height: 1.5;
    color: white;
}

.slider-text p a {
    
}

.slider-text .btn-koi-list {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 14px 26px;
}

.koi-section {
    position: relative;
    z-index: 0;
    padding: 8em 0;
    width: 100%;
}

.koi-content-center {
    padding-top: 1.5em;
    justify-content: center;
}

.koi-content-center .text-center {
    text-align: center;
}

.koi-center-heading .sub-heading {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

.koi-center-heading h2 {
    font-size: 46px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 50px;
    color: black;
}

.koi-content {
    margin-bottom: 20px;
}
.koi-types{
    margin-top: 30px;
}
.koi_fetch_breed{
    width: 80%;
}
.koi-section .koi-types {
    width: 33.33333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.koi-section .koi-item {
    border: 1px solid #000;
    text-align: center;
    position: relative;
    padding-bottom: 30px;
    border-radius: 15px;
}

.koi-section .koi-item img {
    width: 100%;
    height: 400px;
    left: 50%;
    text-align: center;
    border-bottom: 1px solid #000;
    border-radius: 15px;

    
}

.koi-section .koi-item h3 {
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 20px;
}

.koi-section .koi-item Button {
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 14px 26px;
}

.footer{
    padding-top: 40px;
    background-color: #fff;
    border: 1px #ccc solid;
}

.container-xl {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.justify-content-between {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.heading-footer {
}

.slogan  {
    color: #000;
    margin-left: 70px;
    font-weight: 600;
}

.footer-social {
    margin-left: 78px;
}

.footer-social .social-icon {
    color: #000;
    margin-left: 50px;
}

.heading-2 {
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 600;
}
.buy-koi {
    margin-left: 28px;
}

.list-unstyled {
    padding-left: 0;
    list-style-type: none;
}

.list-unstyled a {
    color: #000;

}

.footer-social li {
    list-style: none;
    margin-left: 5px;
    display: inline-block;
    font-size: 40px;
}

.footer-widget ul li {
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;

}

.arrow-icon {
    font-size: 14px;
    color: #000;
    margin-right: 5px;
}

.contact-section li {
    display: table;
    line-height: 1.5;

    
}

.contact-section .contact-icon {
    color: #000;
}

.contact-section .text-contact {
    color: #000;

    margin-left: 24px;
    font-size: 15px;
}

.col-lg-2 {
    margin-left: 106px;
}

.col-lg {
    /* margin-left: 150px; */
}

.logo-footer {
    margin-left: 150px;
    margin-top: -50px;
    width: 200px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
}

.footer-widget {
}

.contact-2{
    margin-left: 100px;
}