
.product{
    width: calc(100% / 4 - 20px);
    img{
        width: 100%;
        height: 200px;
        border-radius: 20px;
        padding: 5px;
    }
    Button {
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        width: 80%;
        background-color: #000;
        color: #fff;
        font-weight: 600;
    }
    margin: 40px 10px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow:2px 1px 7px 4px #ccc;
}
// .product_name{
//     padding: -10px 0;
// }
.form_handle .ant-modal-content {
  background-color: #6d6e6e; /* Replace with your preferred color */
}
.Add_btn_value{
    padding: 10px 40px;
    
}
.Add_btn:hover{
    animation: gradient 3s ease infinite;
}
.Add_btn{
    cursor: pointer;
    background: linear-gradient(-45deg, #ee7752, #d845da, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    border: 1px #ccc solid;
}
.koi_breed_fetch{
    margin: 80px 0;
    .page {
        display: flex;
        justify-content: center;
        border: #000;
    }
    .page .ant-pagination-item-active {
        background-color: #000;
        border-color: #000;
        color: #fff;
    }
}
#koiList{
    margin-bottom: 30px;
}
.product:hover{
    transform:translateY(-5px) ;
}

.koi_list{
    display: flex;
    flex-wrap: wrap;
}
.changer_btn{
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;

    .koilot {
        margin-right: 5px;
    }
}
