.Introduction {
    height: 100%;
    margin: 50px 0;
}

.Intro_header {
    width: 100vw;

}

.form-depo {
    /* margin-right: 200px; */
    margin-right: 100px;
    margin-top: 50px;
    margin-left: 20px;
}

.Consign_body-form {
    box-shadow: 2px 1px 7px 4px #ccc;
    padding: 20px;
    /* padding-right: 60px;     */
    background-color: #ddd;
}


.Consign_body {
    border-radius: 20px;
    padding: 40px;
}

.koi-pic {
    background: cover no-repeat;
    width: 500px;
    height: 650px;
    margin-left: 100px;
    border-radius: 20px;
    margin-top: 60px;
}

.koi-pic-2 {
    background: cover no-repeat;
    width: 500px;
    margin-left: 90px;
    border-radius: 20px;
    margin-top: 70px;
}

.con-btn {
    width: 80px;
    margin-left: 600px;
    margin-left: 230px;
}

.slide-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  .slide-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
  }
  .slide-exit {
    opacity: 1;
    transform: translateX(0);
  }
  .slide-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 500ms, transform 500ms;
  }
  