.font{
    font-size: 30px;
}
.edit_field{
    /* color: #555; */
    color:black;
}
.edit_field-parameter{
    color: #555;
    font-size: 20px;
    padding-bottom: 5px;
}
.editProfile_title{
    font-size: 50px;
    margin-top: 30px;
    
}
.editProfile{
    padding-right: 30px;
    padding-left: 50px;
}
.edit{
    display: flex;
    width: 100%;
    border-bottom: 1px #aaa solid;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
.edit_field{
    display: flex;
    align-items: flex-end;
}
.edit_field_title{
    margin-right: 10px;
}
.edit_btn{
    background: linear-gradient(-45deg, #ee7752, #d845da, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    font-size: 20px;
    padding: 15px 40px;
    border: 1px #ccc solid;
    border-radius: 30px;
    color: #fff;
    margin: 0;
}
.edit_btn:hover{
    animation: gradient 5s ease infinite;
}
