.order{
    display: flex;
    padding: 20px 0;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    align-items: center;
    background-color: #f9eded;
 }
.koiShow{
   background-color: #fff;
 }
 .order_date{
 color: red;
 }
 .order_method{
 color:green;
 font-weight: 500;
 font-size: 18px;
 }




 .order_status{
    font-size: 25px;
    font-weight: 600;
    color: green;
 }
 .order_total{
    font-size: 25px;
    font-weight: 600;
    margin-left: 700px;
 }
 .koi-img{
    width: 200px;
    height: 150px;
 }
 .koi-name{
    font-size: 20px;
 
 }
 .content{
   padding: 20px 0;
 }
 .koi-price{
 font-style: 20px;
 }

 .order_bot{
    display: flex;
    align-items: center;
 }
 .rate_btn{
    border: 1px #ccc solid;
    border-radius: 10px;
    padding: 10px 10px;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e95fd6, #23a6d5, #23d5ab);
	background-size: 400% 400%;
   width: 150px;
   margin-left: 20px;
   height:40px;
 }
 .rate_btn:hover{
    animation: gradient 5s ease infinite;
 }
 .rating_form .ant-form-item-label > label {
  font-size: 15px;
  color: #000 !important;
}