.koi_detail {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    align-items: center;
    padding: 20px;
    margin:0;
}

.koi_detail img{
    object-fit: contain;

}
.status{
    display: flex;
    justify-content: space-between;
    padding:10px 30px;
    background-color: #fff;
    border-bottom: 1px #ccc solid;
}
.order {
    border: 1px solid #ccc;
    background-color: #faf6f6;
    margin: 10px 0;
}
.buttons{
    margin-top: 20px;
    margin-left: 800px;
}
.buttons Button{
    margin-left: 10px;
}
.buttons:first-child{
    background-color: #ccc;
}
.koiPrice{
    color: green;
}
.total{
    padding-top: 10px;
    margin-left: 600px;
    font-size: 20px;
    display: flex;
}
.bton{
    background-color: #000;
    color: #fff;
}