.CheckOut{
  color: #fff;
    margin: 80px 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow:2px 1px 7px 4px #ccc;
}
.userInfo{
  background: linear-gradient(-45deg, #ee7752, #d845da, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 20s ease infinite;
}
#side{
  display: none;
}
small{
  color: #aaa;
}
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
    box-shadow: 1px 3px 8px #ccc;
    border-radius: 34px;
  }
 .radio_delivery{
  display: flex;
  flex-wrap: wrap;
 }
 .delivery{
  width: 180px;
  margin-bottom: 10px;
 }
  .userInfo h1{
    width: 50%;
    border-bottom:1px #000 solid ;
  }
  .deposit{
    margin-left: 30px;
    margin-top: 21px;
    font-weight: 700;
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
  }
  .purchase_btn{
    padding: 22px 135px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 1px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.sumary{
    height: 100vh;
    padding: 50px;
}
.userInfo{
    border: 1px #ccc solid;
    background-color: #fff;
}
/* .userInfo h1{
  padding: 20px 40px 20px 20px;
} */
.checkout_header{
  padding: 10px 40px 10px 20px;
  width: 300px; 
  border-bottom: 1px #000 solid;
  font-size:40px;
  font-weight: 700;
}
.userInfo_input{
    padding:10px 40px;

}
.userInfo_input_field{
    width: calc(50% - 20px);
    
}
.userInfo_input_field Input{
  width: 90%;
}
.user_info_contain{
    /* padding:0 40px; */
    display: flex;
    border-bottom: 1px #000 solid;
    flex-wrap: wrap;
}
.radio_delivery{
    display: flex;
}
.delivery{
    border: 1px #ccc solid;
    padding: 25px 30px;
    margin-right: 40px;
    border-radius: 10px;
}
.delivery_item {
  font-weight: 650;
  color: #fff;
}
.shipping{
    padding:0 40px;

}
.summary_price,.sumary_totalPrice{
    border-bottom: #ccc 000 solid;
}
.summary_price{
    padding: 20px 0;
}
.sumary_totalPrice{
    padding: 30px 0;
}
.sumary_totalPrice_input{
    border: 1px solid #ccc;
    border-radius: 0px;
}
.sumary_totalPrice_btn{
    border: 1px solid #ccc;
    margin: 0;
}
.item{
    display: flex;
    margin: 30px 0;
}
.item_detail{
    display: flex;
    flex-direction: column;
}