.cart_title{
    color: #000;
    margin-top: 18px;
    margin-bottom: 15px;
}

Button {
    margin-bottom: 20px;
}
.order_bill{
    width: 30%;
    padding: 50px;
    background-color: #ddd;
    margin-top: -30px;
    background: linear-gradient(-45deg, #ee7752, #d845da, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    color: #fff;
}

.check_out_btn{
    /* color: #fff; */
    font-size: 20px;
    /* border: 1px #ccc solid; */
    padding: 20px 0;
    width: 100%;
    border-radius: 27px;
    box-sizing: unset;
}
.order_bill_header{
    font-size: 40px;
}

@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.cart_page_cart{
    width: 70%;
    

}
.cart_page{
    display: flex;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    margin:80px 0;
    box-shadow:2px 1px 7px 4px #ccc;
    
}

.clear-btn {
    margin-left: 30px;
}

.delete-btn {
    margin-left: 13px;
    margin-bottom: 10px;
}
