.profile_header{
    height: 120px;
}
.left{
    background-color: #555;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background: linear-gradient(-45deg, #ee7752, #d845da, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 20s ease infinite;

}
.profile{
    margin-bottom: 100px;
}
.modal_logout .ant-modal-content {
    background: linear-gradient(-45deg, #ee7752, #d845da, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    color: #fff;
    border: #ccc solid 1px;
  }
  .ant-modal .ant-modal-content .ant-modal-body {
    font-size: 20px; 
    padding: 20px 0;
  }
.right{
    background-color: #fff;
}
.profile_avatar{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 40px;
}
.bodyprofile{
    box-shadow:2px 1px 7px 4px #ccc;
    border-radius: 30px;
    overflow: hidden;
}
.profile_name{
    width: 100%;
    color: #fff;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.profile_children{
    color: #fff;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
.profile_children:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;
}