.success-section {
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

.success-section h2,
.success-section p {
    text-align: center;
}

.success-text {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 500px;
    width: 500px;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success-img {
    width: 100px;
    margin-top: 80px;
}

.success-text p {
    text-align: center;
}

.sub-text {
    opacity: 0.6;

}

.success-text button {
    margin-top: 20px;
    height: 50px;
    width: 450px;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    border: none;
}

.success-text button:hover {
    background-color: #aaa;
    color: #000;
}